
@{
    ViewBag.Title = "Index";
}

<h2>Party Invitation</h2>

<p>We're going to have a party! <br/>
</p>
<img src="~/Images/background image.jpg" />
<br/>
<!--'at'Html very useful code to use-->
@Html.ActionLink("RSVP now!", "RsvpForm")

